/* src/components/ImageCarouselSection.css */

.image02 {
  position: relative;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}